/* app css stylesheet */

@import 'weather-icons.min.css';
body {
    padding-top: 70px;
    padding-bottom: 70px;
}

.weather {
    border: 1px solid black;
    border-radius: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
}

a.btn-danger {
    float: right;
    margin-bottom: 10px;
    margin-top: 35px;
    margin-right: -10px;
}

.text-center {
    margin-top: 15px;
}

.wi {
    font-size: 24pt;
}

.well {
    max-height: 180px;
}