<h2>
    Settings
</h2>
<div class="form-inline">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"> {{addNewString}} </span>
            <input type="text" ng-model="city" class="form-control" />
        </div>
        <a ng-click="addCity(); city='';" class="btn btn-default"> {{addString}} </a>
    </div>
    <div ng-if="widgets.length > 0" class="container">
        <strong>{{currWidgetsString}}</strong>
        <ul class="list-inline">
            <li class="container col-md-2 col-sm-3 col-lg-1 col-xs-4" ng-repeat="widget in widgets">
                {{widget.name}}
            </li>
        </ul>
    </div>
</div>